@font-face {
  font-family: "Space Grotesk";
  src: url("./SpaceGrotesk-VariableFont_wght.ttf") format("woff2");
}

body {
  font-family: "Space Grotesk", sans-serif;
  background-color: #fffbf5;
  margin: 0;
}

/*--------------------*/

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1%;
  background-color: #fffbf5;
}

.logonav {
  max-width: 50%;
}

.right-section {
  display: flex;
}

.right-section button {
  margin-left: 10px;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
}

.right-section button:first-child {
  background-color: #e7dbc5;
}

.right-section button:last-child {
  background-color: #f77878;
}

/*--------------------*/

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  background-image: url("./components/img/museum.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
}

.form-box {
  background-color: #e7dbc5;
  padding: 2%;
  border-radius: 10px;
}

.form-row {
  display: flex;
  align-items: flex-end; /* Allineamento del bottone in basso */
  margin-bottom: 2%;
}

.form-field {
  display: flex;
  flex-direction: column;
  margin-right: 10%;
  width: 100%;
}

.form-label {
  font-weight: bold;
}

.input-field {
  padding: 10%;
  margin-top: 5px;
}

.submit-button {
  background-color: #f77878;
  color: #fff;
  border: none;
  width: 100%;
  border-radius: 5px;
  padding: 10px 20px;
}

/*--------------------*/

.footer {
  padding: 20px;
  text-align: center;
  background-color: #fffbf5;
}

.footer-columns {
  display: flex;
  justify-content: center;
  gap: 100px;
}

.footer-column {
  flex: 1;
  max-width: 350px;
}

.footer-logo {
  width: 50%;
  height: 55%;
  margin-bottom: 10px;
}

p {
  margin: 0;
  font-size: 12px;
}

h3 {
  margin-bottom: 10px;
  font-size: 16px;
}

ul {
  list-style-type: none; /* Rimuove i punti dall'elenco */
  padding-left: 0;
  margin: 0;
  font-size: 12px;
}

.text-left {
  text-align: left; /* Allinea il testo a sinistra */
}

li {
  margin-bottom: 5px;
}

/*--------------------*/

.login-container,
.registration-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

form {
  width: 20%;
  padding: 2%;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(239, 219, 181, 0.46);
}

h2 {
  text-align: center;
}

.form-group {
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 8px;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

button {
  width: 50%;
  padding: 8px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  background-color: #f77878;
  color: #fff;

  margin-top: 10px;
}

button:hover {
  background-color: #f77890;
}

/*--------------------*/

.form-group {
  margin-bottom: 10px;
}

.label-group {
  display: flex;
  gap: 10px;
}

.checkbox-group {
  display: flex;
  align-items: center;
  text-align: center;
  margin-bottom: 10px;
}

/*--------------------*/

.carosello-container {
  position: relative;
  padding: 3%;
  background-color: rgba(239, 219, 181, 0.46);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.carousel-image {
  max-height: 100%;
  margin: 0 10px;
  border-radius: 5%;
  transition: transform 0.3s ease-in-out; /* Aggiunta transizione di trasformazione */
}

.foreground {
  transform: scale(1); /* Imposta la scala normale per l'immagine centrale */
}

.background-left,
.background-right {
  transform: scale(0.6); /* Riduce la scala delle immagini laterali */
}

.previous-button,
.next-button {
  font-size: 24px;
  border: none;
  background-color: #ccc;
  color: #fff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.previous-button {
  margin-right: 10%;
}

.next-button {
  margin-left: 10%;
}

/*--------------------*/

.parent {
  display: grid;
  grid-template-columns: 0.25fr 1fr 0.5fr 1.5fr 0.25fr;
  grid-template-rows: 0.25fr repeat(2, 1fr) 0.25fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.div1 {
  grid-area: 2 / 2 / 3 / 3;
  padding: 5%;
  max-height: 50%;
  background-color: #e7dbc5;
  border-radius: 20px;
}

.div2 {
  grid-area: 2 / 4 / 4 / 5;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1%;
}

.div3 {
  grid-area: 1 / 4 / 4 / 5;
  display: flex;
  justify-content: center;
  padding: 1%;
}

.buttdett {
  margin-left: 24%;
  width: 50%;
  padding: 2%;
  font-size: 90%;
  border-radius: 4px;
  background-color: #f77878;
  color: #fff;

  margin-top: 10px;
}

.tagricercamuseo {
  display: flex;
  display: inline-block;
  border-radius: 10px;
  padding: 2%;
  background-color: #e7dbc5;
  max-width: 70%;
  margin-bottom: 10%;
}

.dropbtn {
  background-color: #3498db;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover,
.dropbtn:focus {
  background-color: #2980b9;
}

/*filter*/

.custom-select {
  width: 40%;
  height: 100%;
  padding: 2%;
  font-size: 90%;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f1f1f1;
  color: #333;
  outline: none;
  cursor: pointer;
  display: flex;
  margin-left: 10px;
}

.custom-select:hover {
  border-color: #999;
}

.custom-select:focus {
  border-color: #555;
}

.custom-select select {
  appearance: none;
  width: 100%;
  height: 100%;
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}

.custom-select option {
  background-color: #f1f1f1;
  color: #333;
  padding: 12px;
  font-size: 16px;
}

.custom-select option:hover {
  background-color: #999;
}

/*-----suggest-------*/

.container {
  text-align: center;
}

.heading {
  text-align: center;
  font-weight: bold;
}

.card-container {
  display: flex;
  justify-content: center;
}

.card {
  border: 1px solid rgb(255, 255, 255);
  text-align: center;
  width: 19%;
  display: flex;
  flex-direction: column;
  border-radius: 0 0 10px 10px;
  overflow: hidden;
  margin: 1%;
}

.card img {
  max-width: 100%;
  max-height: 100%;
}

.top-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-section img {
  max-width: 100%;
  object-fit: contain;
  border-radius: 10px 10px 0 0;
}

.bottom-section {
  flex: 1;
  padding: 10px;
  text-align: center;
  background-color: #e7dbc5;
}

.BottoneSave {
  background-color: #e7dbc5;
  border-radius: 3px;
  display: inline-block;
  cursor: pointer;
  color: #000000;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 5px 5px;
  text-decoration: none;
  margin-right: 5px;
}
.BottoneSave:hover {
  background-color: #f45757;
}
.BottoneDettagli {
  background-color: #ffffff;
  border-radius: 3px;
  display: inline-block;
  cursor: pointer;
  color: #000000;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 9px 18px;
  text-decoration: none;
}
.BottoneDettagli:hover {
  background-color: #f45757;
}
